#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:

php:
    date.timezone: Europe/Prague

application:
    scanDirs: false
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

extensions:
    events: Contributte\EventDispatcher\DI\EventDispatcherExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
    url: http://dkim.sunfox.cz
    name: Sunfox Billing
    version: 1.0
    lazy: true

services:
    - App\Console\DKIM\FetchAndProcessReportsCommand
    - App\Console\MigrateMailboxesCommand
    - App\Libs\Config\DKIMConfig( %dkim% )
    - App\Libs\Config\MigrateConfig( %migrate% )
    - App\Libs\Logging\ConsoleHandler
    - App\Libs\Logging\ConsoleLogger
